<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        {% stylesheets
            "@bootstrap_css"
            "@fontawesome"
            "@stickyfooter"
            "@default_css" %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <link href="{{ asset("favicon.png") }}" rel="shortcut icon">
    <title>{% block title %}Destruktiv{% endblock %}</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="navbar-collapse-1">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path("home") }}">Destruktiv</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ path("home") }}">
                            Hem
                        </a></li>
                        <li><a href="{{ path("forum") }}">
                            Forum
                        </a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="row">
            <div class="col-md-8">
                {% block body %}{% endblock %}
            </div>
            <div class="col-md-4">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <h4 class="username">
                        {{ app.user.username }}<br>
                        <small>{{ app.user.email }}</small>
                    </h4>
                    <div class="list-group">
                        <a href="{{ path("fos_user_profile_show") }}" class="list-group-item">
                            <i class="fa fa-user fa-fw"></i>
                            Profil
                        </a>
                        <a href="{{ path("fos_user_security_logout") }}" class="list-group-item">
                            <i class="fa fa-sign-out fa-fw"></i>
                            Logga ut
                        </a>
                    </div>
                {% else %}
                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}">
                        <div class="form-group">
                            <label>Användarnamn</label>
                            <input type="text" name="_username" class="form-control" placeholder="Användarnamn" {% if last_username is defined %}value="{{ last_username }}"{% endif %} required>
                        </div>
                        <div class="form-group">
                            <label>Lösenord</label>
                            <input type="password" name="_password" class="form-control" placeholder="Lösenord" required>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="_remember_me">
                                Logga inte ut mig automatiskt
                            </label>
                        </div>
                        <div class="btn-group btn-group-justified">
                            <a href="{{ path("fos_user_registration_register") }}" class="btn btn-default">
                                Registrera
                            </a>
                            <div class="btn-group">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-sign-in fa-fw"></i>
                                    Logga in
                                </button>
                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">
                <i class="fa fa-fw fa-github"></i>
                All kod finns på <a href="https://github.com/AmusableLemur/Destruktiv">GitHub</a>
            </p>
        </div>
    </footer>

    {% block javascripts %}
        {% javascripts
            "@jquery"
            "@bootstrap_js" %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</body>

</html>
