{% extends '::base.html.twig' %}

{% block body -%}
    <ul class="breadcrumb">
        <li class="active">Forum</li>
    </ul>

    {{ app.request.locale }}
    {{ "1 minute ago"|trans }}

    <blockquote>
        <p>This is a quote.</p>
        <small>jooize</small>
    </blockquote>

    <div class="list-group">
        {% for entity in entities %}
            <a href="{{ path('forum_show', { 'id': entity.id }) }}" class="list-group-item">
                <h4 class="list-group-item-heading">{{ entity.title }} <small>startad av {{ entity.author }}</small></h4>
                <p class="list-group-item-text"><b>{{ entity.posts|length|number_format }}</b> inlägg &mdash; <span class="text-muted">Senaste</span> <span title="{{ entity.dateUpdated|date("Y-m-d H:i") }}">{{ entity.dateUpdated|time_ago_in_words }}</span></p>
            </a>
        {% endfor %}
    </div>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ form(form) }}
    {% endif %}
{% endblock %}
