{% extends '::base.html.twig' %}

{% block body -%}
    <ul class="breadcrumb">
        <li class="active">Forum</li>
    </ul>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('forum_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('forum_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('forum_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{ path('forum_new') }}" class="btn btn-primary btn-sm pull-right">
            <i class="fa fa-plus fa-fw"></i>
            Ny tråd
        </a>
    {% endif %}
{% endblock %}
