{% extends '::base.html.twig' %}

{% block body -%}
    <ul class="breadcrumb">
        <li class="active">Forum</li>
    </ul>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="col-md-6">Titel (Inlägg)</th>
                <th class="col-md-3">Trådstartare</th>
                <th class="col-md-3 text-right">Uppdaterad</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('forum_show', { 'id': entity.id }) }}">{{ entity.title }}</a> (0)</td>
                    <td><a href="{{ path('forum_show', { 'id': entity.id }) }}">{{ entity.author }}</a></td>
                    <td class="text-right">{{ entity.dateCreated|date("Y-m-d H:i") }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{ path('forum_new') }}" class="btn btn-primary btn-sm pull-right">
            <i class="fa fa-plus fa-fw"></i>
            Ny tråd
        </a>
    {% endif %}
{% endblock %}
