{% extends '::base.html.twig' %}

{% block body -%}
    <ul class="breadcrumb">
        <li><a href="{{ path("forum") }}">Forum</a></li>
        <li class="active">{{ entity.title }}</li>
    </ul>

    <h1>
        <div class="btn-group pull-right">
            <a href="#" class="btn btn-default">
                <i class="fa fa-pencil fa-fw"></i>
            </a>
            <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Radera tråd</a></li>
            </ul>
        </div>

        {{ entity.title }}
    </h1>

    <div class="list-group">
        {% for post in entity.posts %}
            <div class="list-group-item">
                <h4 class="list-group-item-heading">
                    {{ post.author }}
                    <small>{{ post.dateCreated|date("Y-m-d H:i") }}</small>
                </h4>
                <p class="list-group-item-text">{{ post.content }}</p>
            </div>
        {% endfor %}
    </div>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ form(post_form) }}
    {% endif %}
{% endblock %}
