<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ asset("favicon.png") }}" rel="shortcut icon">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <title>{% block title %}Destruktiv{% endblock %}</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
            <a class="navbar-brand" href="{{ path("home") }}">
                <img src="{{ asset("img/logo.png") }}" alt="Destruktiv">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path("home") }}">Hem</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Artiklar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Länkar</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="row">
            <div class="col-md-8">
                {% block body %}{% endblock %}
            </div>
            <div class="col-md-4">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <h4 class="username">
                        {{ app.user.username }}<br>
                        {#<small>{{ app.user.username }}</small>#}
                    </h4>

                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <i class="ti ti-user"></i>
                            Profil
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="ti ti-inbox"></i>
                            Meddelanden
                            <span class="badge badge-primary">0</span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="ti ti-settings"></i>
                            Inställningar
                        </a>
                        <a href="{{ path('app_logout') }}" class="list-group-item">
                            <i class="ti ti-logout"></i>
                            Logga ut
                        </a>
                    </div>
                {% else %}
                    <div>
                        <form action="{{ path('app_login') }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="form-group">
                                <label>Användarnamn</label>
                                <input type="text" name="username" class="form-control" placeholder="Användarnamn" {% if last_username is defined %}value="{{ last_username }}"{% endif %} required>
                            </div>

                            <div class="form-group">
                                <label>Lösenord</label>
                                <input type="password" name="password" class="form-control" placeholder="Lösenord" required>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="_remember_me">
                                    Logga inte ut mig automatiskt
                                </label>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block">Logga in</button>
                            
                            <p style="margin-top:5px">
                                <a href="#register" data-toggle="modal">Skapa användare</a>
                            </p>
                        </form>
                    </div>
                {% endif %}

                {% block sidebar %}{% endblock %}
            </div>
        </div>
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>

</html>
